
BODY {
	color:#676767;
	font-family: sans-serif;
	background-color:#f1f1f1;
	padding: 12px;
	overflow: auto;
	border: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {color:#bfbfbf;}
h2 {color:#bfbfbf;}

.tableCell {
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-position: top left
}



A:link { color: yellow; }
A:active { color: yellow; }
A:visited { color: yellow; }
A:hover { color: yellow; }
